body
{
    margin: 0;
}

.error-page
{
    font-family: Verdana, sans-serif;
    background-color: #000;
    text-align: center;
    width: 100%;
    height: 100%;
}

.error-page h1
{
    font-size: 90px;
    font-weight: lighter;
    color: #f00;
    margin-bottom: 10px;
    padding-top: 100px;
}

.error-page h2
{
    margin-top: 5px;
    font-size: 30px;
    font-weight: normal;
    color: #fff;
}