@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,700);@import url(https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700);@import url(https://fonts.googleapis.com/css?family=Righteous:100,300,400,500,700);@import url(https://fonts.googleapis.com/css?family=Poiret+One:100,300,400,500,700);@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);body *
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.admin-label
{
    font-size: 11px;
    font-weight: bold;
    font-family: 'Montserrat', 'Open Sans';
    color: #fff !important;
    border-radius: 3px;
    padding: 6px;
    border: 1px solid #fff;
    background-color: #d00; 
    text-align: center;
}

.news-date
{
    float: right;
    font-size: 12px;
    color: #aaa;
    padding-top: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.container .news
{
    margin-bottom: 15px;
    background-color: #fff;
    padding: 20px;
}
.container .news:nth-child(1)
{
    border: none;
}

body
{
    //background-image: url('../../img/bg.jpg');
    background-repeat: repeat;
    background-size: 500px 250px;
    background-color: #f0f0f0;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

main
{
display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

b
{
    font-weight: bold;
}

.container
{
    background-color: transparent;
    overflow-wrap: break-word;
    max-width: 900px;
    padding: 0;
    min-height: 100%;
    color: black;
}

.container.news .content
{
    background-color: transparent;
}

.content
{
    width: 100%;
    max-width: 900px;
    margin-top: 15px;
    padding: 10px 20px 15px 20px;
    text-align: justify;
    background-color: white;
    margin-bottom: 15px;
    
    transition: height .2s ease-in-out;
}

.form-control
{
    width: calc(75% - 15px);
}

.callout
{
    margin: 10px 0px 15px 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: table;
    color: white !important;
}

.btn
{
    border-radius: 3px;
    color: white;
    transition: .2s ease-in-out;
    box-shadow: none;
    padding: 7px;
}

.btn.disabled
{
    background: repeating-linear-gradient(
      135deg,
      #999,
      #999 7px,
      #bbb 7px,
      #bbb 14px
    );

border-color: #999 !important;
}

.btn-warning
{
    background-color: #e38d13 !important;
    border-color: #e38d13 !important;
}
.btn-warning:hover
{
    background-color: #c36d00 !important;
    box-shadow: 0 0 10px rgba(80, 50, 0, .7) !important;
}
.btn-danger
{
    background-color: #d00 !important;
    border-color: #d00 !important;
}
.btn-danger:hover
{
    background-color: #b00 !important;
    box-shadow: 0 0 10px rgba(90, 0, 0, .7) !important;
}
.btn-success
{
    background-color: #0a0 !important;
    border-color: #0a0 !important;
}
.btn-success:hover
{
    background-color: #080 !important;
    box-shadow: 0 0 10px rgba(0, 90, 0, .7) !important;
}
.btn-info
{
    background-color: #0ba0ce !important;
    border-color: #0ba0ce !important;
}
.btn-info:hover
{
    background-color: #0080ae !important;
    box-shadow: 0 0 10px rgba(0, 40, 90, .7) !important;
}

.callout-danger
{
    border-color: black !important;
    background-color: #d00 !important;
}

.callout-warning
{
    border-color: black !important;
    background-color: #e38d13 !important;
}

.callout-success
{
    border-color: black !important;
    background-color: #0a0 !important;
}

.callout-info
{
    border-color: black !important;
    background-color: #5bc0de !important;
}

.callout > div
{
    display: table-cell;
    vertical-align: middle;
}

.callout > .icon
{
    width: 25px !important;
}

.callout > .dismiss
{
    margin-left: 10px;
    padding-right: 10px;
}

.callout > .dismiss > .close
{  
    color: #fff;
    font-weight: 500;
}

.callout > .message ul
{
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 13px;
}

.callout > .message
{
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 50px;
}

footer
{
    background-color: #159adc;
    color: white;
    height: 45px;
    width: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #000;
    margin-top: -45px;
}
.footer-content
{
    margin:auto;
    padding: 10px 15px;
}

#push
{
    height: 45px;
}

.navbar
{
    background-color: #159adc;
    color: #fff;
    border-bottom: 1px solid transparent;
}


.top-bar div
{
    display: inline-block;
}

.navbar a
{
    color: #fff;
    text-shadow: none;
    transition: .2s ease-in-out;
}

.navbar .nav-item:hover
{
    background-color: #159adc;
}
.navbar .nav-link:hover
{
    color: white !important;
    text-shadow: 0px 0px 5px white !important;
}

.navbar-toggler
{
    color: #fff;
}

.navbar-brand .logo
{
    height: 20px;
}
.navbar-brand .game
{
    height: 25px;
}

@media only screen and (max-width: 400px)
{
    .navbar-brand .logo
    {
        height: 15px;
    }
    .navbar-brand .game
    {
        height: 20px;
    }
}



h1
{
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    color: black;
    font-size: 50px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    text-align: left;
}
h2
{
    margin-top: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    color: black;
    font-size: 37px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    text-align: left;
}

@media only screen and (max-width: 992px)
{
    h1
    {
        font-size: 35px;
    }

    h2
    {
        font-size: 28px;
    }
}


#login-form
{
    max-width: 400px;
}
#signup-form .form-control
{
    max-width: 500px;
}

#signup-form .terms
{
    margin-bottom: 10px;
    max-width: 500px;
}

.profile .avatar img
{
    width: 130px;
    border: 1px solid #159adc;
}

.profile .avatar
{
    position: relative;
    min-width: 130px;
}

.profile .name, .profile .school, .profile .summoner, .profile .team, .profile .email
{
    font-size: 20px;
    margin-bottom: 6px;
    height: 30px;
}

.profile .summoner.inactive, .profile .team.inactive
{
    font-size: 14px;
}

.profile .summoner a
{
    font-size: 14px;
    text-decoration: none;
    color: #aaa;
    margin-left: 7px;
    position: relative;
    bottom: 3px;
}

.profile .team a
{
    color: black;
}
.profile .team a:hover
{
    text-shadow: 0 0 7px rgba(0,0,0,.3);
}

.profile .name > .fa, .profile .school > .fa, .profile .team > .fa, .profile .summoner > .fa, .profile .email > .fa
{
    font-size: 20px;
    color: #159adc;
    text-shadow: 1px 0px white, 0px 1px white, -1px 0px white, 0px -1px white;
}

.profile .btn .fa
{
    margin-right: 5px;
    color: #fff !important;
    font-size: 14px;
}

.profile .btn
{
    color: #fff !important;
}

.profile .avatar .avatar-buttons .btn, .btn-fa
{
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 2px 0 0 3px;
}

.profile .avatar .avatar-buttons .btn-danger, .profile .summoner.unverified .btn.unpair
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.profile .avatar .avatar-buttons .btn-warning, .profile .summoner.unverified .btn.verify
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.profile .avatar .avatar-buttons
{
    position: absolute;
    top: 5px;
    right: 8px;
}
.profile .avatar .avatar-buttons .btn-warning
{
    background-color: #e38d13;
}
.profile .avatar .avatar-buttons .btn-danger
{
    background-color: #d00;
}

.profile .summoner .btn.verify
{
    margin-left: 0;
}

.profile form
{
    margin-bottom: 30px;
}

a
{
    text-decoration: none !important;
}

.form-inline input
{
    margin-right: 5px;
}

.btn-left
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-right
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

small
{
    font-size: 14px;
    color: #666;
    margin-right: 4px;
}

.list-team .item .row, .list-team .item .row > div
{
    max-height: 90px;
}

.list-team .teaminfo
{
    margin-top: 23px;
}

.list-team .teaminfo .name
{
    margin-top: 0;
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
}

.list-team .teaminfo .name a
{
    color: black;
    font-weight: 100;
    font-family: '', 'Open Sans', sans-serif;
}
.list-team .teaminfo .name a:hover
{
    color: black;
    text-shadow: 0 0 10px white;
}


.list-team .teaminfo .tag
{
    margin-top: 0;
    background-color: #159adc;
    font-size: 15px;
    font-family: '', 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
    bottom: 6px;
    color: white;
    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid #fff;
    display: inline-block;
}

.list-team .teaminfo .playercount
{
    margin-top: 0;
    margin-left: 5px;
    font-size: 12px;
    background-color: #666;
    position: relative;
    bottom: 5px;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    display: inline-block;
    font-family: 'Poiret One', 'Open Sans', sans-serif;
    font-weight: 700;
}

.list-team .teaminfo .playercount.full
{
    background-color: #080;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 3px;
}

.list-team .teaminfo .playercount.locked
{
    background-color: transparent;
    border: 1px solid #0c0;
    color: #0c0;
    font-size: 13px;
}

@media only screen and (max-width: 992px)
{
    .list-team .members, .display-ranks
    {
        display: none !important;
    }
    .list-team .item .row, .list-team .item
    {
        max-height: 45px;
    }
    .list-team .item .teaminfo
    {
        margin-top: auto;
        white-space:nowrap;
    }
}

.list-team .members .member
{
    display: inline-block;
    height: 90px;
    width: 90px;
    margin-left: -3px;
    margin-right: 0;
    position: relative;
}

.list-team .members .member img
{
    height: 90px;
    width: 90px;
}

.list-team .members .member img.rank
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: -5px;  
    left: -5px;
}
.list-team .members .member .rank-underlay
{
    position: absolute;
    top: 0; left: 0;
    width: 90px;
    height: 90px;
    background-color: rgba(0, 0, 0, .2);
    display: none;
}

.list-team .members .member .overlay
{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-family: '', 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    min-height: 28px;
    text-align: center;
    padding: 6px;
    width: 90px;
    line-break: strict;
}
.list-team .members .member.owner .overlay
{
    background-color: rgba(200, 140, 0, .7);
    color: white;
}


.list-team .members .member .overlay.small
{
    padding: 7px 2px;
    font-size: 11px;
}

.list-team .members .member .overlay.smaller
{
    padding: 7.5px 2px;
    font-size: 10px;
}

.list-team .members .member .overlay.smallest
{
    padding: 8px 2px;
    font-size: 8.5px;
}

.list-team .members .member.join, .list-team .members .member.waiting
{
    font-size: 50px;
    text-align: center;
    transition: 0.3s ease-in-out;
    position: relative;
    bottom: 7px;
    left: 1px;
}
.list-team .members .member.waiting
{
    background-color: #f39d13;
}
.list-team .members .member.waiting.hover
{
    background-color: #d00;
}

.list-team .members .member.join a, .list-team .members .member.waiting a
{
    position: relative;
    top: 20px;
    color: #159adc;
    transition: .5s ease-in-out;
}
.list-team .members .member.join.hover a
{
    color: black;
}
.list-team .members .member.waiting a
{
    color: white;
}
.list-team .members .member.waiting a i
{
    position: relative;
    clear: both;
    bottom: 10px;
}
.list-team .members .member.waiting a span
{
    font-size: 12px;
    color: white;
    position: absolute;
    top: 50px;
    left: -2px;
}
.list-team .members .member.waiting.hover a span
{
    font-size: 12px;
    color: white;
    position: absolute;
    top: 50px;
    left: 11px;
}
.list-team .item
{
    height: 90px;
}

.display-ranks
{
    float: right;
    display: inline-block;
    margin-top: 25px;
}
.display-ranks, .edit-users, .edit-positions
{
    font-size: 17px;
    color: black;
}
.display-ranks .fa, .edit-users .fa, .edit-positions .fa
{
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 1px;
}
.display-ranks .fa.fa-toggle-off, .edit-users .fa.fa-toggle-off, .edit-positions .fa.fa-toggle-off
{
    color: #f30;
}
.display-ranks .fa.fa-toggle-on, .edit-users .fa.fa-toggle-on, .edit-positions .fa.fa-toggle-on
{
    color: #080;
}

.list .item
{
    border-top: 1px solid transparent;
    padding-top: 0px;
    margin-bottom: 1px;
}

.profile
{
    margin-top: 10px;
}

.btn.team-create
{
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 3px;
}

a
{
    color: #4CCAF0;
    text-shadow: none;
    transition: .1s ease-in-out;
}
a:hover
{
    color: #4CCAF0;
    text-shadow: 0px 0px 7px rgba(155, 228, 250, .8);
}

.form-control
{
    background-color: transparent;
    color: black;
    border-color: gray;
    transition: .2s ease-in-out;
    box-shadow: none;
}
.form-control[type=checkbox]
{
    height: 15px; width: 15px; margin-right: 10px;
}
.form-control.disabled
{
    background-color: #555;
    color: #aaa;
}
input.form-control:focus
{
    border-color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
    background-color: transparent;
    color: black;
}

.team-view .name, .team-view .tag
{
    display: inline-block;
}

.team-view .tag
{
    position: relative;
    bottom: 10px;
    font-size: 20px;
    color: #fff;
    border: 1px solid white;
    background-color: #159adc;
    border-radius: 5px;
    margin-left: 10px;
    padding: 1px 5px;
}


.team-view .member-avatars .avatar, .team-view .member-avatars .member-empty
{
    display: inline-block;
    margin-right: -5px;
    width: 170px;
    height: 170px;
}
.team-view .member-avatars .avatar img
{
    width: 170px;
    height: 170px;
    margin: 0;
}
.team-view .member-avatars
{
    background: repeating-linear-gradient(
        -45deg,
        #eee,
        #eee 15px,
        transparent 15px,
        transparent 30px
      );
    width: calc(170px * 5 - 6px);
    border: 1px solid #159adc;
}

@media only screen and (min-width: 992px)
{
    .team-view .member-avatars .avatar, .team-view .member-avatars .member-empty, 
    .team-view .member-avatars .avatar img
    {
        width: 170px;
        height: 170px;
    }
    .team-view .member-avatars
    {
        width: calc(170px * 5 - 6px);
    }
    .team-view .members .member .info
    {
        width: 90%;
    }   
}
@media only screen and (max-width: 992px)
{
    .team-view .member-avatars .avatar, .team-view .member-avatars .member-empty, 
    .team-view .member-avatars .avatar img
    {
        width: 120px;
        height: 120px;
    }
    .team-view .member-avatars
    {
        width: calc(120px * 5 - 6px);
    }
    .team-view .members .member .info
    {
        width: 95%;
    }   
}
@media only screen and (max-width: 768px)
{
    .team-view .member-avatars .avatar, .team-view .member-avatars .member-empty, 
    .team-view .member-avatars .avatar img
    {
        width: 100px;
        height: 100px;
    }
    .team-view .member-avatars
    {
        width: calc(100px * 5 - 6px);
    }
    .team-view .members .member .info
    {
        width: 100%;
    }   
}
@media only screen and (max-width: 576px)
{
    .team-view .member-avatars .avatar, .team-view .member-avatars .member-empty, 
    .team-view .member-avatars .avatar img
    {
        width: 80px;
        height: 80px;
    }
    .team-view .member-avatars
    {
        width: calc(80px * 5);
    }
    .team-view .members .member .info
    {
        width: 100%;
    }   
}

.team-view .members
{
    margin-top: 25px;
}
.team-view .members .member
{
    margin-bottom: 7px;
}
.team-view .members .member .info > div
{
    display: inline-block;
}
.team-view .members .member .info
{
    height: 50px;  
    border-radius: 25px;
    border: 1px solid #159adc;
    background-color: #159adc;
    color: white;
    position: relative;
    z-index: 2;
}
.team-view .members .member .info .position img
{
    width: 35px;
    height: 35px;
    margin-top: 6px;
    margin-left: 6px;
}
.team-view .members .member .info .position
{
    border: 1px solid #159adc;
    background-color: white;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    position: relative;
    top: -1px;
    left: -1px;
    z-index: 3;
}
.team-view .members .member .info .summoner
{
    border: 1px solid #159adc;
    background-color: #fff;
    float: right;
    border-radius: 19px;
    height: 38px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 8px 15px 0 15px;
    color: #000;
    font-weight: bold;
    position: relative;
    z-index: 4;
}
.team-view .members .member .info .name
{
    margin-left: 10px;
    font-size: 18px;
    position: relative;
    top: 4px;
}
.team-view.cstrike .members .member .info .name
{
    margin-left: 15px;
    font-size: 18px;
    position: static;
    padding-top: 10px;
}
.team-view .members .member .info .name a
{
    color: #fff;
}
.team-view .members .member .info .name a:hover
{
    text-shadow: 0px 0px 7px rgba(255, 255, 255, .8);
}
.team-view .members .member.request .info .buttons
{
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: 75px;
    height: 50px;
    font-size: 25px;
    position: relative;
    top: -1px;
    left: -1px;
    padding-left: 10px;
    padding-top: 6px;
}
.team-view .members .member.request .info .buttons a
{
    color: #555;
}
.team-view .members .member.request .info .buttons a:hover
{
    text-shadow: 0 0 7px rgba(0, 0, 0, .6);
}
.team-view .members .member.request .info .name
{
    margin-left: 10px;
    font-size: 18px;
    position: relative;
    top: -4px;
    color: gray;
    opacity: 100;
    transition: opacity .5s ease;
}
.team-view .members .member.request .info
{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: gray;
}
.team-view .members .member.request .summoner
{
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: gray;
    z-index: 5;
}

.team-view .members .member .info > div.pos-select
{
    position: absolute;
    transition: left .5s ease;
    z-index: -1;
    left: 60px;
    top: 10px; 
    display: none;
}
.team-view .members .member .info > div.pos-select img
{
    width: 30px; height: 30px;
}
.team-view .members .member .delete
{
    position: absolute;
    right: 10px;
    top: 10px;
    transition: right .5s ease;
    z-index: 1;
}
.team-view .members .member .delete.visible
{
    right: -35px;
}

.team-view .members .member .delete a.remove-user
{
    color: #e00;
    font-size: 30px;
}
.team-view .members .member .delete a.remove-user:hover
{
    text-shadow: 0px 0px 7px rgba(255, 0, 0, .8);
}
.team-view .switches
{
    margin-top: 25px;
    float: right;
}
.team-view .switches .btn
{
    margin-top: 5px;
    width: 150px;
}
.team-view .switches .edit-positions
{
    margin-bottom: 10px;
}


.disclaimer-container
{
    background-color: #fff;
    padding: 5px;
    max-width: 860px;
    margin-top: 30px;
}
.disclaimer .header
{
    position: absolute;
    background-color: #fff;
    font-size: 22px;
    padding: 0 10px;
    top: -16px;
    font-family: 'Montserrat', 'Montserrat';
    font-weight: 700;
}
.disclaimer
{
    position: relative;
    border: 1px solid #444;
    padding: 20px;
    margin: 15px;
    font-size: 13px;
    color: #222;
}

.verify .vcontainer
{
    position: relative;
}
.verify .vkey
{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 700;
    background-color: #fff;
    color: #333;
    margin: 20px 0;
    width: 230px;
    padding: 20px 10px;
    text-align: center;
    display: inline-block;
}
.verify .button
{
    display: inline-block;
    width: 97px;
    height: 97px;
    padding: 18px;
    font-size: 60px;
    color: #fff;
    background-color: #d80;
    position: absolute;
    margin-top: 20px;
    transition: .2s ease-in-out;
}
.verify .button:hover
{
    background-color: #080;
}

.list-users .item hr
{
    border-color: #d7d7d7;
}
.list-users .item .summoner .fa-check
{
    color: #0a0;
}
.list-users .item .summoner .fa-times
{
    color: #a00;
}
.list-users .item .team
{
    font-size: 14px;
}
.list-users .item .control .fa-trash
{
    color: #c00;
}
.list-users .item .control .fa-envelope-o
{
    color: #000;
}
.list-users .item .control a:hover
{
    text-shadow: 0 0 7px rgba(0,0,0,.3);
}

a.clear
{
    color: black;
    text-decoration: none;
}
a.clear:hover
{
    text-shadow: 0 0 7px rgba(0,0,0,.3);
}


.modal
{
    color: #000;
}

.modal .btn-default
{
    background-color: #fff !important;
    color: #777 !important;
    border: 1px solid #777 !important;
}
.modal .btn-success
{
    background-color: #fff !important;
    color: #0a0 !important;
    border: 1px solid #0a0 !important;
}
.modal .btn-danger
{
    background-color: #fff !important;
    color: #e00 !important;
    border: 1px solid #e00 !important;
}
.modal .btn-warning
{
    background-color: #fff !important;
    color: #f80 !important;
    border: 1px solid #f80 !important;
}
.modal a.btn:hover
{
    text-shadow: none;
}


.mailing textarea
{
    background-color: #eee;
    color: #444;
    font-family: monospace;
    height: 300px;
    width: 100%;
    padding: 5px 15px;
    margin-top: 10px;
    display: none;
}

.mailing h3
{
    margin-top: 15px;
}

.mailing > .btn
{
    margin-right: 8px;
}

.modal-header
{
    background-color: #fafafa;
    border-radius: 3px;
    font-weight: bolder;
}